.vocabPage {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 50/50 */
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.vocabContainer {
  overflow-y: auto; /* la liste peut défiler */
  padding-right: 0.5rem;
  border-right: 2px solid var(--color-3);
}

.commentPanel {
  position: fixed;
  top: 160px; /* Header height */
  right: 14vw; /* sidebarRight */
  width: 36%; /* 50% - 14% (sidebarRight) */
  height: 100vh;
  overflow-y: auto;
  padding-left: 1rem;
}
