/* styles/AudioPlayer.module.css */

/* Lecteur invisible (dans MainLayout) */
.hiddenPlayer {
  display: none;
}

/* Lecteur visible (dans le Header) */
.visiblePlayer {
  width: 100%;
  max-width: 300px;
  height: 50px;
  border: 1px solid var(--color-2);
  border-radius: 50px;
  background-color: var(--color-0);
  color: var(--color-2);
  padding: 4px;
}

.visiblePlayer::-webkit-media-controls-panel {
  background-color: var(--color-0);
}

.visiblePlayer::-webkit-media-controls-current-time-display,
.visiblePlayer::-webkit-media-controls-time-remaining-display {
  color: var(--color-2);
}
