.commentOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.commentModal {
  background-color: var(--background);
  border: 1px solid grey;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  gap: 20px; 
  justify-content: center;
  align-items: center;
}
.header {
  text-align: center;
  padding-top: 10px;
}
.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.details {
  background-color: var(--color-0);
  padding: 0px 10px 10px;
  border: 2px solid gray;
  border-radius: 5px;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
.imageContainer {
  flex: 0 0 auto; /* largeur fixe selon l'image */
  max-width: 400px;
  padding: 1rem 0rem;
}
.imageContainer img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  margin-bottom: 10px;

}