.button {
  font-family: var(--font-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  width: var(--wSize);
  height: 40px;
  /* border: 1px solid var(--tColor); */
  border: none;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
  background-color: var(--bColor);
  color: var(--tColor);
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.05);
  background-color: var(--color-3);
}