.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: var(--fs-p);
  margin-bottom: 5px;
}

.radioInput {
  display: none;
}

.customRadio {
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-3);
  border-radius: 50%;
  margin-right: 8px;
  position: relative;
  transition: border-color 0.3s;
}

.customRadio::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--color-2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
}

.radioInput:checked + .customRadio::after {
  transform: translate(-50%, -50%) scale(1);
}
