.button {
  font-family: var(--font-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
  background-color: var(--bColor);
  color: var(--tColor);
  transition: all 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: var(--tColor);
  color: var(--bColor);
}