.button {
  font-family: var(--font-body);
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  min-width: var(--wSize);
  height: 40px;
  /* border: 1px solid var(--tColor); */
  border: none;
  border-radius: 20px;
  background-color: var(--bColor);
  color: var(--tColor);
  transition: all 0.5s;
  cursor: pointer;
  padding: 0px 10px;
  margin: 10px 0px;
}
.button:hover {
  transform: scale(1.05);
  background-color: var(--color-3);
}
.button:disabled {
  opacity: 0.3;
  cursor: default;
}

.button:not(:disabled):hover {
  opacity: 1;
}