.borderImage {
  display: inline-block;
  border: 20px solid transparent;
  border-image: url("/images/frise.png") 30 round;
  margin-bottom: 2rem;
}

.boxShadow {
  display: inline-block;
  box-shadow: 0 0 0 5px black, 0 0 0 10px goldenrod, 0 0 0 15px black;
  margin-bottom: 2rem;
}

.svgWrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}

.svgFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 240px;
  pointer-events: none;
}

.svgImage {
  display: block;
}

.antique {
  display: inline-block;
  border: 12px ridge peru; /* style antique simulé */
  margin-bottom: 2rem;
}
