/* ========== GLOBAL VARIABLES ========== */
:root {
  /* Colours, #2 is the official colour for Familia Romana (llpsi part 1) */
  --color-0: #fef0e7;
  --color-1: #fbd4bc;
  --color-2: #f27122;
  --color-3: #9a4109;
  --background: #ffffff;
  --text: #000000;

  /* Fonts */
  --font-body: "GentiumW", sans-serif;
  --font-heading: "Herculanum", serif;

  /* Font Weight */
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 800;

  /* Font Size */
  --fs-h1: 5rem;
  --fs-h2: 2.5rem;
  --fs-h3: 2rem;
  --fs-h4: 2rem;
  --fs-h5: 1.6rem;
  --fs-p: 1.4rem;
}

/* Color themes */
[data-theme="book1-dark"] {
  --color-0: #431C04;
  --color-1: #9a4109;
  --color-2: #f27122;
  --color-3: #f69c65;
  --background: #000000;
  --text: #ffffff;
}

[data-theme="book2-light"] {
  --color-0: #e6fff7;
  --color-1: #00D18F;
  --color-2: #008a5e;
  --color-3: #004731;
  --background: #ffffff;
  --text: #000000;
}

[data-theme="book2-dark"] {
  --color-0: #004731;
  --color-1: #008a5e;
  --color-2: #00D18F;
  --color-3: #E6FFF7;
  --background: #000000;
  --text: #ffffff;
}

/* ========== Latin morphology ========== */
body.morph-masculine .masculine {
  text-shadow: 0px 2px 8px lightskyblue;
}
body.morph-feminine .feminine {
  text-shadow: 0px 2px 8px #FCBBE7;
}
body.morph-neuter .neuter {
  text-shadow: 0px 2px 8px yellow;
}
body.morph-nominative .nominative {
  color: #0073ff;
}
body.morph-accusative .accusative {
  color: red;
}
body.morph-genitive .genitive {
  color: #00c302;
}
body.morph-dative .dative {
  color: #ffac00;
}
body.morph-ablative .ablative {
  color: #cc00ff;
}
body.morph-vocative .vocative {
  color: #996633;
}
body.morph-locative .locative {
  color: #008000;
}
body.morph-subjunctive .subjunctive {
  text-decoration: underline dotted;
}

/* ========== GLOBAL RESET ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px black solid; */
}

body {
  font-family: var(--font-body);
  color: var(--text);
}

/* ========== TYPOGRAPHY ========== */
h1 {
  line-height: 1.15;
  font-family: var(--font-heading);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: white;
  text-shadow: 5px 5px 4px black;
  text-align: center;
  margin: 20px;
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  color: white;
  /* text-shadow: 2px 4px 4px black; */
  text-align: center;
  margin: 5px;
}

h3 {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}

h4 {
  font-size: var(--fs-h4);
  font-weight: var(--fw-semibold);
}

h5 {
  font-size: var(--fs-h5);
  font-weight: var(--fw-semibold);
  margin-bottom: 10px;
}

p {
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  margin: 10px;
}
