.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(var(--color-famRomOrange) 40%, var(--color-famRomLightYellow));
  /* #F3BA96 */
  /* padding: 4rem 0; */
}




/* .title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
} */