.lemmaOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lemmaModal {
  background-color: var(--background);
  border: 1px solid grey;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  gap: 20px; /* espace entre image et contenu */
  justify-content: center;
  align-items: center;
}

.portraitLayout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.landscapeLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  flex: 0 0 auto; /* largeur fixe selon l'image */
  max-width: 400px;
}

.imageContainer img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  border: 2px solid grey
}

.content {
  flex: 1 1 auto; /* prend le reste de l'espace disponible */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.content h3 {
  margin: 0 0 10px 0;
}