.table {
  border-collapse: collapse;
  width: auto;
  font-family: var(--font-body);
  font-size: var(--fs-p);
}

.columnHeader {
  border: 1px solid #ccc;
  padding: 0.5rem 0.5rem;
  text-align: left;
  background-color: var(--TableHeadBackgrd);
  font-weight: bold;
}

.rowHeader {
  border: 1px solid #ccc;
  padding: 0.5rem 0.5rem;
  text-align: left;
  font-weight: bold;
  background-color: var(--TableHeadBackgrd);
  max-width: 140px;
  overflow-wrap: break-word;
}

.cell {
  border: 1px solid #ccc;
  padding: 0.5rem 0.5rem;
  text-align: left;
  min-width: 60px;
  color: #000000; /* even in dark mode */
}
.empty {
  background-color: rgba(0, 0, 0, 0.05);
}

.sectionDivider td {
  border-bottom: 3px solid gray;
}
.masculine {
  background-color: #deedff;
}
.feminine {
  background-color: #ffe3ff;
}
.neuter {
  background-color: #ffffed;
}