.gapInput {
  border: none;
  border-bottom: 1px solid gray;
  background-color: var(--color-0);
  line-height: 1;
  vertical-align: middle;
  font: inherit;
  /* next two ligns to ensure the input is aligned with previous input text */
  position: relative;
  top: -1.5px;
}

.dropDown {
  border: none;
  color: var(--text-color);
  padding: 3px 0px;
  border: 1px solid gray;
  border-radius: 4px;
  /* next two ligns to ensure the input is aligned with previous input text */
  position: relative;
  top: -1.5px
}