.gapInput {
  border: none;
  border-bottom: 1px solid gray;
  background-color: var(--color-0);
  line-height: 1;
  vertical-align: middle;
  font: inherit;
  /* next two ligns to ensure the input is aligned with previous input text */
  position: relative;
  top: -1.5px;
}

.dropDown {
  border: none;
  color: darkgray;
  width: 1.3em;
  padding: 3px 0px;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-style: italic;
  /* next two ligns to ensure the input is aligned with previous input text */
  position: relative;
  top: -1.5px
}

.correct {
  background-color: rgba(60, 179, 113, 0.3); /* vert clair */
  border-color: var(--color-2);
}

.incorrect {
  background-color: rgba(255, 99, 71, 0.3); /* rouge clair */
  border-color: var(--color-3);
}

.correct:focus,
.incorrect:focus {
  outline: none;
}