.vocabModal {
  position: relative;
  width: 100%;
  height: auto;
  overflow-y: visible;
  padding-left: 10px;
}
.details {
  margin-bottom: 10px;
}
.image {
  width: 90%;
  border: 1px solid gray;
  border-radius: 1rem;
  margin-top: 1rem;
}
.noteContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-start;
}